In [1]:
!pip install requests beautifulsoup4 pandas

Requirement already satisfied: requests in c:\users\kiit0001\anaconda3\lib\site-packages (2.32.3)
Requirement already satisfied: beautifulsoup4 in c:\users\kiit0001\anaconda3\lib\site-packages (4.12.3)
Requirement already satisfied: pandas in c:\users\kiit0001\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\kiit0001\anaconda3\lib\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\kiit0001\anaconda3\lib\site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\kiit0001\anaconda3\lib\site-packages (from requests) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\kiit0001\anaconda3\lib\site-packages (from requests) (2025.11.12)
Requirement already satisfied: soupsieve>1.2 in c:\users\kiit0001\anaconda3\lib\site-packages (from beautifulsoup4) (2.5)
Requirement already satisfied: numpy>=1.26.0 in c:\users\kiit0001\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\kiit0001\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\kiit0001\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\kiit0001\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\kiit0001\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [3]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [6]:
url = "https://books.toscrape.com/"
response = requests.get(url)

soup = BeautifulSoup(response.text, "html.parser")

books = soup.find_all("article", class_="product_pod")

data = []

for book in books:
    title = book.h3.a["title"]
    price = book.find("p", class_="price_color").text.strip()
    availability = book.find("p", class_="instock availability").text.strip()
    
    data.append([title, price, availability])

df_books = pd.DataFrame(data, columns=["Title", "Price", "Availability"])
df_books.to_csv("books_dataset.csv", index=False)

df_books.head()

                                   Title    Price Availability
0                   A Light in the Attic  Â£51.77     In stock
1                     Tipping the Velvet  Â£53.74     In stock
2                             Soumission  Â£50.10     In stock
3                          Sharp Objects  Â£47.82     In stock
4  Sapiens: A Brief History of Humankind  Â£54.23     In stock

In [8]:
electronics = []

for item in items:
    # Title
    title = item.find("h3").text.strip() if item.find("h3") else "Not Available"
    
    # Price
    price = item.find("h4", class_="price").text.strip() if item.find("h4", class_="price") else "Not Given"
    
    # Description
    description = item.find("p", class_="description").text.strip() if item.find("p", class_="description") else "No Description"
    
    # Reviews (some items don't have reviews so using safe check)
    reviews = item.find("p", class_="pull-right").text.strip() if item.find("p", class_="pull-right") else "No Reviews"
    
    electronics.append([title, price, description, reviews])

df_elec = pd.DataFrame(electronics, columns=["Title", "Price", "Description", "Reviews"])
df_elec.head()

,Title,Price,Description,Reviews
0,Not Available,$487.8,"Lenovo V510 Black, 15.6"" HD, Core i3-6006U, 4G...",No Reviews
1,Not Available,$899,"Asus ROG STRIX GL553VD-DM256, 15.6"" FHD, Core ...",No Reviews
2,Not Available,$1123.87,"Acer Predator Helios 300 (PH317-51), 17.3"" FHD...",No Reviews

In [1]:
pip install pandas openpyxl

Requirement already satisfied: pandas in c:\users\kiit0001\anaconda3\lib\site-packages (2.2.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: openpyxl in c:\users\kiit0001\anaconda3\lib\site-packages (3.1.5)
Requirement already satisfied: numpy>=1.26.0 in c:\users\kiit0001\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\kiit0001\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\kiit0001\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\kiit0001\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: et-xmlfile in c:\users\kiit0001\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in c:\users\kiit0001\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [8]:
import pandas as pd
csv_file_path = 'student.csv'

try:
    df_csv = pd.read_csv(csv_file_path)
    print("Data from CSV file:")
    print(df_csv.head())

    print("\nColumns:", df_csv.columns.tolist())

except FileNotFoundError:
    print(f"Error: The file '{csv_file_path}' was not found.")
except Exception as e:
    print(f"An error occurred: {e}")

Data from CSV file:
   Roll    Name  Marks
0     1    Riya     85
1     2    Aman     90
2     3   Soham     75
3     4     Pri     76
4     5  Shreya     80

Columns: ['Roll', 'Name', 'Marks']

In [6]:
import os
print(os.getcwd())

C:\Users\KIIT0001

In [15]:
import pandas as pd
excel_file_path = 'results_MERGE_SORT'

try:
    # Fix: Use raw string (r prefix) or double backslashes or forward slashes
    df_excel = pd.read_excel(r"C:\Users\KIIT0001\results_MERGE_SORT.xlsx")
    # Alternative solutions:
    # df_excel = pd.read_excel("C:\\Users\\KIIT0001\\results_MERGE_SORT.xlsx")
    # df_excel = pd.read_excel("C:/Users/KIIT0001/results_MERGE_SORT.xlsx")

    print("Data from Excel file:")
    print(df_excel.head())

except FileNotFoundError:
    print(f"Error: The file '{excel_file_path}' was not found.")
except Exception as e:
    print(f"An error occurred: {e}")

Data from Excel file:
   Input Size  Random Case(ms)  Sorted Case(ms)  Reverse Case(ms)  \
0       10000             8.68             7.38              9.70
1       20000            24.29            10.73              9.23
2       30000            13.36            14.88             14.48
3       40000            21.07            16.37             16.78
4       50000            24.77            20.18             22.49

   Total Execution(ms)
0                25.76
1                44.24
2                42.72
3                54.22
4                67.44